#ifndef ENV_H
#define ENV_H


//自分の環境に合わせて書き換えてください

//WiFi設定
#define ENV_SSID "YOUR_WIFI_SSID"
#define ENV_PASS "YOUR_WIFI_PASS"
#define ENV_GW 192, 168, 1, 1

//親機の設定
#define ENV_IP_PARENT 192, 168, 1, 101
#define ENV_NOTIFY_URL "http://192.168.1.102/alarm"

//子機
#define ENV_IP_CHILD 192, 168, 1, 102
#define ENV_STOP_URL "http://192.168.1.101/stop"

#endif
